/* GLOBALES */
body{
    overflow-x: hidden;
}

/* HEADER */
.bg-header{
    position: relative;
    height: 100vh;
    background: #0f0c29;  
    background: -webkit-linear-gradient(to right, #0f0c29, #302b63,#24243e );  
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e); 
    padding: 0 10% 0 10%;
}
.titulo-header{
   margin: 8% 0;
}
.carrusel-header img{
    width: 100%;
    height: 500px;
    border-radius: 6rem;
    object-fit: cover;
}

/* SECTION-1 */
.section-1{
    height: 100vh;
    background-color: #EBEFF8;
}
.section-1 img{
    width: auto;
    height: 100vh;
    object-fit: cover;
}

/* SECTION-2 ACERCA DE */
.contenedor{
    width: 1050px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.contenedor .card-acerca-de{
    position: relative;
    cursor: pointer;
}

.contenedor .card-acerca-de .face{
    width: 240px;
    height: 200px;
    transition: 0.5s;
}

.contenedor .card-acerca-de .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    border-radius: 3rem;
}

.contenedor .card-acerca-de:hover .face.face1{
    background: #0575E6;  
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  
    background: linear-gradient(to right, #021B79, #0575E6); 
    transform: translateY(20px);
}

.contenedor .card-acerca-de .face.face1 .content{
    /* opacity: 0.2; */
    transition:ease-in-out 0.5s;
}

.contenedor .card-acerca-de:hover .face.face1 .content{
    opacity: 1;
}

.contenedor .card-acerca-de .face.face1 .content img{
    max-width: 100px;
}

.contenedor .card-acerca-de .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.contenedor .card-acerca-de .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
    border-radius: 3rem;
}

.contenedor .card-acerca-de:hover .face.face2{
    transform: translateY(0);
    border-radius: 0 0 3rem 3rem;
    top: -20px;
    /* height: 220px; */
}

.contenedor .card-acerca-de .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.contenedor .card-acerca-de .face.face2 .content a:hover{
    background: #0575E6;  
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  
    background: linear-gradient(to right, #021B79, #0575E6); 
    color: #fff;
}

/* SECTION-3 */
.section-3{
    position: relative;
    height: 600px;
    padding-left: 120px;
    /* background-color: chartreuse; */
}
.bg-section-3{
    position: absolute;
    width: 65%;
    height: 600px;
    background-color: #EBEFF8;
    border: #333;
    left: 0;
    z-index: -10;
}
.carrusel-section-3{
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    padding: 25px 20px;
}
.item{
    width: 320px;
    transition: ease-in-out .5s;
}
.item:hover{
    transform: scaleX(1.1) scaleY(1.1)  ;
    transition: ease-in-out .5s;
}

/* SECTION-4 */
.section-4{
    position: relative;
    height: 100vh;
    background:url(../media/bg-section-4.jpg) ;
    background-size: cover;
    background-position: center;
    z-index: -10;
}
.cuadro-section-4{
    position: absolute;
    width: 50%;
    height: 100vh;
    background-color: #4e4b4b44;
    backdrop-filter: blur(15px);
    /* top: 50; */
    left: 25%;
    z-index: 5;
}
.circulo-1{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 10rem;
    background: #5747D9;  
    background: -webkit-linear-gradient(to right, #2F2393, #5747D9);  
    background: linear-gradient(to right, #2F2393, #5747D9); 
    top: 10%;
    left: 18%;
    z-index: 1;
}
.circulo-2{
    position: absolute;
    width: 125px;
    height: 125px;
    border-radius: 10rem;
    background: #5747D9;  
    background: -webkit-linear-gradient(to right, #2F2393, #5747D9);  
    background: linear-gradient(to right, #2F2393, #5747D9); 
    bottom: 10%;
    left: 28%;
    z-index: 1;
}
.circulo-3{
    position: absolute;
    width: 175px;
    height: 175px;
    border-radius: 10rem;
    background: #5747D9;  
    background: -webkit-linear-gradient(to right, #2F2393, #5747D9);  
    background: linear-gradient(to right, #2F2393, #5747D9); 
    bottom: 10%;
    right: 19%;
    z-index: 1;
}

/* SECTION-5 */
.section-5{
    position: relative;
    z-index: 10;
}
.circulo-1-section-5{
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 10rem;
    background: #5747D9;  
    background: -webkit-linear-gradient(to right, #2F2393, #5747D9);  
    background: linear-gradient(to right, #2F2393, #5747D9); 
    top: 0;
    right: -5%;
    filter: blur(1.5rem);
    z-index: -10;
}
.circulo-2-section-5{
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 10rem;
    background: #5747D9;  
    background: -webkit-linear-gradient(to right, #2F2393, #5747D9);  
    background: linear-gradient(to right, #2F2393, #5747D9); 
    bottom: 0;
    left: 0;
    filter: blur(1.5rem);
    z-index: -10;
}


/* CARRUSEL */
.carrusel{
    display: flex;
    align-items: center;
  }
  .carrusel-items{
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 30px 0;
  }
  .carrusel-item{
    max-width: 400px;
    min-width: 400px;
    margin: 0 5px;
  }
  .carrusel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
  .carrusel-item:hover{
    transform: scale(1.2);
  }

/* FOOTER */
footer {
    background-color: #132B5B;
    margin: 0;
    padding: 20px 0px 0px 0px;
    color: white;
  }
  footer img{
    width: 300px;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
  }
  footer a {
    color: white;
  }
  footer a:hover {
    color: #fed136;
  }
  footer .footer-head {
    margin-top: 32px;
  }
  footer .list-unstyled {
    text-decoration: none;
    padding: 0px 5px 0px 0px;
    margin: 20px 0px 0px 0px;
    text-align: left
  }
  footer .list-unstyled span {
    font-size: 24px;
  }
  footer .footer-titulos {
    font-size: 32px;
    color: #fed136;
    font-weight: bold;
  }
  footer .columna-1 {
    text-align: justify;
    padding: 0px 20px 0px 0px;
    font-weight: bold;
    color: #191919;
    margin-top: 14px;
  }
  footer .columna-1 ul {
    list-style: none;
    text-align: left;
    font-weight: bold;
    color: #191919;
    padding: 0px 0px 0px 10px;
  }
  /*SUB FOOTER*/
  footer .sub-footer {
    padding: 1rem 0;
    margin-top: 100px;
    text-align: center;
    border-top: 2px solid #fed136;
    background-color: #fed136;
    width: 100%;
    display: block; 
  }
  footer .copyright {
    color: black;
    font-weight: bold;
    font-size: 14px;
  }